{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}Add{% endblock %}  
{% block content %}  

<div class="container">  
    <div class="row">  
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">  
            <form method="POST" role="form" class="form-horizontal">   
             {% csrf_token %}  
             <h4 class="text-center">Leave blank for any fields you do not wish to change.</h4>

                <h3 class="form-signin-heading text-center">Add</h3>    
                
                <div class="form-group">  
                    <label for="id_owner_name" class="col-md-3 control-label">Owner Name</label>  
                    <div class="col-md-9">  
                        <input type="text" class="form-control" id="id_owner_name" name="ownername" autofocus>  
                    </div>      
                </div>  
  
                <div class="form-group">  
                    <label for="id_vendor_date" class="col-md-3 control-label">Vendor Name</label>  
                    <div class="col-md-9">  
                      <input type="text" class="form-control" name="vendorname">
                    </div>  
                </div>  

                <div class="form-group">  
                    <label for="id_guest_date" class="col-md-3 control-label">Guest Name</label>  
                    <div class="col-md-9">  
                      <input type="text" name="guestname" class="form-control">
                    </div>  
                </div> 

                <div class="form-group">  
                    <label for="id_guest_date" class="col-md-3 control-label">New Text Question</label>  
                    <div class="col-md-9">  
                      <input type="text" name="textquestion" class="form-control">
                    </div>  
                </div> 

                <div class="form-group">  
                    <label for="id_guest_date" class="col-md-3 control-label">New Choice Question</label>  
                    <div class="col-md-9">  
                      <input type="text" name="choicequestion" class="form-control">
                    </div>  
                </div> 

                <div class="form-group">  
                    <label for="id_guest_date" class="col-md-3 control-label">Number of Choices</label>  
                    <div class="col-md-3">  
                      <input type="number" name="choicenum" class="form-control" id="id_choicenumber">
                    </div><div class="col-md-3">

                    <button class="btn btn-primary btn-block" onclick="render2()" id = "choice" name = "choicenumber"> Render </button> </div>
                </div> 
                
                <div class="form-group">  
                    <label for="id_event_date" class="col-md-3 control-label">Allow +1 ?</label>  
                    <div class="col-md-9">  
                      <input type="checkbox" id="cbox1" value="plusone" name = "plusone">
                    </div>  
                </div>

                <div class="form-group">  
                    <div class="col-md-3 col-md-offset-5">  
                        <button class="btn btn-primary btn-block" type="submit"> Edit Info </button>  
                    </div>  
                </div>                 



            </form>  
        </div>  
    </div>  
</div>  
  
{% endblock %}  


{% block javascript}
<script>
    function render2(){
        console.log("click")
         choicenumber = $("#choicenumber").val();

         for(var i = 0; i < choicenumber; i++){
            $("#choicenumber").prepend("<div class="form-group"><label for="id_guest_date" class="col-md-3 control-label">New Choice Question</label><div class="col-md-9"><input type="text" name="guestname" class="form-control"></div></div> ")
         }

    }

</script>
{% endblock}
