{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}Event Edit{% endblock %}  
  
{% block content %}  
  
<div class="container">  
    <div class="row">  
        <div class="col-md-10 col-md-offset-1">  

        {% if plusone == True%}
        <h4>+1 is allowed</h4>
        {% else %}
        <h4>+1 is not allowed</h4>
        {% endif %}

            <div class="col-md-3 col-md-offset-1"> 
                <table class="table table-hover">  
                    <thead>
                            <th>Owners</th>  
                    </thead>  

                    <tbody id = "owner_cell">  
                        {% for owner in owners %}  
                        <tr>  
                            <td>  {{ owner.user.name }} </td>   
                        </tr> 

                        {% endfor %}  
                    </tbody>

                </table>  
            </div>

             <div class="col-md-3 col-md"> 
                <table class="table table-hover">  
                    <thead>
                            <th>Vendors</th>  
                    </thead>  

                    <tbody>  
                        {% for vendor in vendors %}  
                        <tr>  
                            <td>  {{ vendor.user.name }}  </a></td>   
                        </tr> 
                        {% endfor %} 
 
                    </tbody>

                </table>  
            </div>

             <div class="col-md-3 col-md"> 
               <table class="table table-hover">  
                    <thead>
                            <th>Guests</th>  
                    </thead>  

                    <tbody>  
                        {% for guest in guests %}  
                        <tr>  
                            <td>  {{ guest.user.name }}  </a></td>   
                        </tr> 
                        {% endfor %} 
                    </tbody>

                </table>  
            </div> 

            </div> 
            </div>
                
            <div class="col-md-9 col-md-offset-1"> 
                <table class="table table-hover"  id="questions_table">  
                    <thead>
                            <th>Text Questions</th>  
                            <th>Add Vendor</th>
			    <th>Edit Question</th>
                    </thead>  

                    <tbody>  
                        {% for t in textquestions %}  
                        <tr>  
                            <td> <a href="/rsvp/textquestiondetails/?id={{t.id}}"> {{ t.question_text }} </td>
                            <td><a href="/rsvp/addtextvendor/?id={{t.id}}">Add</td>
			    <td><a href="/rsvp/textquestionedit/?id={{t.id}}">Edit</td>
                        </tr> 

                        {% endfor %}  
                    </tbody>

                </table>  
            </div>


            <div class="col-md-9 col-md-offset-1"> 
                <table class="table table-hover"  id="questions_table">  
                    <thead>
                            <th>Choice Questions</th>  
                            <th>Add Vendor</th>
                            <th>Add a Choice</th>
                    </thead>  

                    <tbody>  
                        {% for t in choicequestions %}  
                        <tr>  
                            <td>  <a href="/rsvp/choicequestiondetails/?id={{t.id}}">{{ t.question_text }} </td>   
                            <td><a href="/rsvp/addchoicevendor/?id={{t.id}}">+Vendor</a></td>
                            <td><a href="/rsvp/addchoice/?id={{t.id}}">+Choice</a></td>
			    <td><a href="/rsvp/choicequestionedit/?id={{t.id}}">Edit</td>
                        </tr> 

                        {% endfor %}  
                    </tbody>

                </table>  
            </div>

                <!--div class="col-md-3 col-md-offset-4">  
                    <button class="btn btn-primary btn-block" onclick= "myFunction()" > Add </button>  
                </div-->                
        </div>  

                <div class="col-md-3 col-md-offset-4">  
                        <a href="/rsvp/add/?id={{event.id}} " class="btn btn btn-primary btn-block">Add Peole</a></button>  
                </div>

    </div>  

</div>
<br><br><br>
      <form method="POST" role="form" class="form-horizontal" id="post-form">  
        {% csrf_token %}  
        <h1 class="form-signin-heading text-center">New Question</h1>  
        <div class="col-md-7 col-md-offset-2">  
            <input type="text" class="form-control" required name="question_text" id="the_post" autofocus="">  
        </div>    
        <div class="col-md-2">
        <input type="submit" value="Add" class="btn btn btn-primary btn-block" id="btn">
        </div>
        <!-- <button class="btn btn btn-primary btn-block" onclick="myFunction()">add</button> -->
    </form>  
 {% block javascript %}
    <script>
    $('#post-form').on('submit',function(e){
        console.log("click submit on event")
        e.preventDefault()
        $.ajax({
            url: '/rsvp/addq/?id={{event.id}}',
            type: "POST",
            data: {
                'question_text':$('#the_post').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                console.log(data)
                $('#the_post').val('')
                $("#questions_table").prepend("<tr><td><li><strong>"+data.text+"</strong></li></td></tr>")
            }
        })
    });
    </script>
  
{% endblock %}

{% endblock %}  
