{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}Event List{% endblock %}  
  
{% block content %}  
{% load easy_maps_tags %}  
<div class="container">  
    <div class="row">  
        <div class="col-md-10 col-md-offset-1">  
            <div class="col-md-9 col-md-offset-1">  
                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Owned Events</th>  
                            <th>Event Date</th>
                            <th><a href="/rsvp/create">New Event</th>
                        </tr>
                    </thead>  

                    <tbody>  
                        {% for event in owner_events %}  
                        <tr>  
                            <td><a href="/rsvp/edit/?id={{event.id}}">  {{ event.name }}  </a></td>   
                             <td>  {{ event.date }} </td>
                             
                             <td><a href="/rsvp/edit/?id={{event.id}}"> Edit</td>
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table>  

                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Vendor Events</th>  
                            <th>Event Date</th>
                         </tr>  
                    </thead>  
                    <tbody>  
                        {% for event in vendor_events %}  
                        <tr>  
                            <td><a href="/rsvp/vendordetails/?id={{event.id}}">  {{ event.name }}  </td>   
                            <td>  {{ event.date }}  </td>
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table>  


                <table class="table table-hover">  
                    <thead>  
                        <tr>  
                            <th>Guest Events</th>  
                            <th>Event Date</th>
                        </tr>  
                    </thead>  
                    <tbody>  
                        {% for event in guest_events %}  
                        <tr>  
                            <td><a href="/rsvp/guestdetails/?id={{event.id}}">  {{ event.name }}  </td> 
                             <td>  {{ event.date }} </td>   
                        </tr>  
                        {% endfor %}  
                    </tbody>  
                </table>  
                  
            </div>  
        </div>  
    </div>  
</div>  
  <br><br><br>  <br>
<br> <br> <br> <br> <br> <br> <br><br>

<br><br><br>  <br>
<br> <br> <br> <br> <br> <br> <br><br>
    
  
{% endblock %}  