{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}Guest Details{% endblock %}  
  
{% block content %}  
  
<div class="container">  
    <div class="row">
        <div class="col-md-12 col-md-offset-5"> 
            <h2>{{event.name}}</h2> 
        </div>


        <div class="col-md-12 col-md-offset-0">  
            <h3>Guest Questions</h3>

             <div class="col-md-3 col-md"> 
                <table class="table table-hover">  
                    <thead>
                            <th>Text Questions</th> 
                            <th>Finalized</th> 
                            <th>Edit</th>
                    </thead>  

                    <tbody>  
                        {% for t in textquestions %}  
                        <tr>  
                            <td>  {{ t.question_text }}  </td> 
                            <td>  {{ t.finalized  }} </td>
                            <td>
                            {% if t.finalized == False %}
                            <a href="/rsvp/edittextresponse/?id={{t.id}}">Edit</a>
                            {% endif %}
                            </td>
                        </tr> 
                        {% endfor %} 
 
                    </tbody>

                </table>  
            </div>

             <div class="col-md-2 col-md"> 
                <table class="table table-hover">  
                    <thead>
                            <th>My Responses</th>  
                            
                    </thead>  

                    <tbody>  
                        {% for t in textresponse %}  
                        {% if t.count > 0 %}
                        <tr>  
                            <td>  {{ t.first.response_text }}  </a></td>
                            
                               
                        </tr> 
                        {% else %}
                        <tr>  
                            <td>  Not answered yet.  </a></td>
                            
                        </tr> 
                        {% endif  %}
                        {% endfor %} 
 
                    </tbody>

                </table>  
            </div>


             <div class="col-md-4 col-md"> 
               <table class="table table-hover">  
                    <thead>
                            <th>Choice Questions</th>  
                            <th>Finalized</th>
                            <th>Reselect</th>
                    </thead>  

                    <tbody>  
                        {% for c in choicequestions %}  
                        <tr>  
                            <td>  {{ c.question_text }}  </a></td>
                            <td>  {{ c.finalized }} </td> 
                            <td>
                            {% if c.finalized == False %}
                            <a href="/rsvp/editchoiceresponse/?id={{c.id}}">Edit</a> 
                            {% endif %}
                            </td> 
                        </tr> 
                        {% endfor %} 
                    </tbody>

                </table>  
            </div> 

             <div class="col-md-3 col-md"> 
               <table class="table table-hover">  
                    <thead>
                            <th>My Choices</th>  
                    </thead>  

                    <tbody>  
                        {% for cr in choiceresponse %}  
                        {% if cr.count > 0 %}
                        <tr>  
                            <td>  {{cr.last.choice_text}} </td>   
                        </tr>
                        {% else %}
                        <tr>  
                            <td>  Not answered yet </td>   
                        </tr>
                        {% endif  %} 
                        {% endfor %} 
                    </tbody>
                </table>  



            </div> 
            </div>
                <!--div class="col-md-3 col-md-offset-4">  
                    <button class="btn btn-primary btn-block" onclick= "myFunction()" > Add </button>  
                </div-->                
        </div>  
    </div>  
    <br>
<br> <br> <br> <br> <br> <br> <br><br>
</div>
  
{% endblock %}  