{% extends "base.html" %}  
{% load staticfiles %}  
{% block title %}Recommend Resource{% endblock %}  
  
{% block content %}  
  
<div class="container">  
    <div class="row">  

                
            <div class="col-md-9 col-md-offset-1"> 
                <table class="table table-hover"  id="questions_table">  
                    <thead>
                            <th>Name</th>  

                    </thead>  

                    <tbody>  
                        {% for b in businesses %} 
                        <tr> 
                            <td>  <a id = "link" href= "{{b.url}}" >{{ b.name }} </td>
                        </tr> 

                        {% endfor %}  
                    </tbody>

                </table>  
            </div>

    </div>  

</div>



{% endblock %}  